<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    verbose="true"
    colors="true"
    bootstrap ="autoloader.php">
    <testsuites>
        <testsuite name="Sepa">
            <directory>SKien/Test/Sepa</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">SKien/Sepa</directory>
            <directory suffix=".php">SKien/Sepa/CntryValidation</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="true" showOnlySummary="true"/>
        <log type="coverage-html" target="SKien/Test/Sepa/coverage"/>
        <log type="coverage-clover" target="SKien/Test/Sepa/coverage/clover.xml"/>
    </logging>
</phpunit>
